<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <security>
                <requestFiltering>
                    <fileExtensions>
                        <!-- Tambahkan ekstensi yang diblokir -->
						<add fileExtension=".jpg" allowed="true" />
						<add fileExtension=".png" allowed="true" />
						<add fileExtension=".pdf" allowed="true" />
						<add fileExtension=".php" allowed="false" />
						<add fileExtension=".phtml" allowed="false" />
						<add fileExtension=".phar" allowed="false" />
						<add fileExtension=".phps" allowed="false" />
						<add fileExtension=".phpt" allowed="false" />
						<add fileExtension=".php*" allowed="false" />
						<add fileExtension=".asp" allowed="false" />
						<add fileExtension=".aspx" allowed="false" />
						<add fileExtension=".jsp" allowed="false" />					
                        <!-- Tambahkan ekstensi lain yang ingin diblokir -->
                    </fileExtensions>
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
</configuration>