<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=(local);Initial Catalog=uoldatabase;User ID=sa;Password=sa123@uol;" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.web>
	<customErrors mode="Off" />
      <compilation debug="true" targetFramework="4.5" />
      <!--<httpRuntime targetFramework="4.5" />-->
      <pages validateRequest="false" enableEventValidation="false" />
      <httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="&lt;,>,%,&amp;,:,\,?" />
    </system.web>
<system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <rewrite>
      <rules>
        <rule name="Hide .aspx ext">
          <match url="^(.*)$" ignoreCase="true" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}.aspx" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:0}.aspx" />
        </rule>
        <rule name="Redirecting .aspx ext" stopProcessing="true">
          <match url="^(.*).aspx$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{URL}" pattern="(.*).aspx$" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
      </rules>
    </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>
